:root {
    box-sizing: border-box;
    margin: 0;
    color: white;
    font-size: 62.5%;
}
body {
    margin: 0;
    background-color: hsl(233, 47%, 7%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 2.5rem 0 2.5rem;

}
body > * {
    margin-block-start: 2.5rem;
    margin-block-end: 0;
}
body > main {
    margin-block: auto;
}
main {
    background-color: hsl(244, 38%, 16%);
    border-radius: 1rem;
    display: grid;
    grid-template-rows: auto auto;
}
.image-container {
    position: relative;
    width: 100%;
    border-radius: 2rem;
}
.image-container::before {
    position: absolute;
    content: "";
    background-color: rgba(69, 15, 98, 0.7);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.image {
    width: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.text-container {
    padding: 2.5rem 3.6rem 3.6rem 3.6rem;
}

h1 {
    font-size: 2.7rem;
    line-height: 1.1;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-bottom: 1.2rem;;
}
p {
    font-size: 1.4rem;
    font-family: Inter, sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    text-align: center;
    line-height: 1.8;
    margin-bottom: 3.5rem;
}
h2 {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: .5rem;

}
.stats {
    font-size: 1.2rem;
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    color: hsla(0, 0%, 100%, 0.6);
}
span {
    color: hsl(277, 64%, 61%);
}